<style>
h1 { width: 100%; text-align: center; }
.btn { border: thick outset grey; text-decoration: none; color: white; padding: 0 2% 0 2%; }
</style>

<% @icons = {
played: "punch_clock",
wins: "mood",
losses: "mood_bad",
turns: "refresh",
points: 'toll',
avg: 'percent',
pts: 'timeline',
exit: 'close'
} %>

<% @game = Z4[:game, @db[:user][:game]]; %>

<% if params[:act] == "wins" %>
<h1>WIN!</h1>
<% @game.tick(:wins); @game.tick(:played); @db[:user].tick(:ratio); @db[:chan].tick(:played); @db[:user].tick(:xp); %>
<h1>
<% [:exit].each do |e| %>
<a class='material-icons btn' href='/game?act=<%= e %>&user=<%= params[:user] %>&chan=<%= params[:chan] %>'><%= @icons[e] %></a>
<% end %>
</h1>
<% elsif params[:act] == "losses" %>
<h1>LOSE!</h1>
<% @game.tick(:losses); @game.tick(:played); @db[:user].tick(:ratio, num: -1); @db[:chan].tick(:played); @db[:user].tick(:xp); %>
<h1>
<% [:exit].each do |e| %>
<a class='material-icons btn' href='/game?act=<%= e %>&user=<%= params[:user] %>&chan=<%= params[:chan] %>'><%= @icons[e] %></a>
<% end %>
</h1>
<% elsif params[:act] == "turns" %>
<h1>TURN!</h1>
<% @game.tick(:turns); @db[:user].tick(:turns); @db[:chan].tick(:turns); @db[:user].tick(:xp); %>
<h1>
<% [:points, :turns, :losses, :wins].each do |e| %>
<a class='material-icons btn' href='/game?act=<%= e %>&user=<%= params[:user] %>&chan=<%= params[:chan] %>'><%= @icons[e] %></a>
<% end %>
</h1>
<% elsif params[:act] == "points" %>
<h1>POINT!</h1>
<% @game.tick(:points); @db[:user].tick(:points); @db[:chan].tick(:points); @db[:user].tick(:xp); %>
<h1>
<% [:points, :turns, :losses, :wins].each do |e| %>
<a class='material-icons btn' href='/game?act=<%= e %>&user=<%= params[:user] %>&chan=<%= params[:chan] %>'><%= @icons[e] %></a>
<% end %>
</h1>
<% elsif params[:act] == "quit" %>
<% @db[:user][:game] = params[:game] %>
<h1><span>Now Playing:</span></h1>
<h1><span><%= @db[:user][:game] %></span></h1>
<% elsif params[:act] == "exit" %>
<% @db[:user][:game] = '' %>
<h1><span>What would you like to do now?</span></h1>
<% if @db[:chan][:menu] != nil %>
<% @db[:chan][:menu].each_pair do |k,v| %>
<h1><a class='btn' href='<%= v %>'><%= k %></a></h1>
<% end %>
<% end %>
<% end %>

<h1>
<a class='btn' href='/games?user=<%= params[:user] %>&chan=<%= params[:chan] %>'>SCOREBOARD</a>
</h1>

<h3><%= @game %></>